.demo-container {
  width: 100%; }
  .demo-container .CodeMirror,
  .demo-container .code-preview {
    background: white;
    border: 1px solid white; }
  .demo-container .CodeMirror {
    color: black;
    float: left;
    font-family: monospace;
    font-size: .5em;
    height: 500px;
    line-height: 1.2em;
    width: 50%; }
  .demo-container .code-preview {
    float: right;
    height: 500px;
    width: 49%; }

.reveal .img-transition {
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  opacity: 0; }

.reveal .current-img {
  opacity: 1; }

.reveal em {
  color: red;
  font-style: normal; }

.reveal strong {
  color: red; }

.img-transition:hover {
  cursor: pointer; }

.demo body {
  color: black; }
