/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Roboto', sans-serif;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- banner --*/
/*--header--*/
.header-info-right{
	float:right;
	margin-top: 9px;
}
.header-info-left {
	float: left;
}
.header-info {
  padding: 3% 0% 0 0%;
}
.logo a {
	display: block;
}
.logo a h1 {
  color: #fff;
  font-size: 2.6em;
  font-weight: 700;
  margin: 0;
}
/*--/header--*/
/*--header-menu--*/
button#showRightPush {
  background: none;
  border: none;
  color: #e8e8e8;
  position: fixed;
  right: 13.5%;
  z-index: 9999;
  outline: none;
  top: 3.9%;
}
button#showRightPush img {
	padding-left: 0px;
}
/* General styles for all menus */
.cbp-spmenu {
	background: green;
	position: fixed;
	z-index: 999;
	border:double red;
}
.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.107em;
	font-weight: 300;
	display: inline-block;
}
.cbp-spmenu a:hover {
	background: #000;
	color: #fff;
}
.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical a {
  	border-right: 1px solid rgba(245, 245, 245, 0.53);
  	padding: 13px 1.3em;
}
.cbp-spmenu-vertical a:nth-child(6){
	border-right:none;
}
.cbp-spmenu-vertical a:hover {
	text-decoration: none;
}
.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}
.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}
.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
	left: -600px;
	top: 36px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 47.5%;
  top: 26px;
}
/* Horizontal menu that slides from the top or bottom */
/* Push classes applied to the body */
.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.cbp-spmenu-push-toleft {
	left: -240px;
}
/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/*--header-menu--*/
/*-- effect for nav --*/
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
button#showLeftPush {
  	background: none;
  	border: none;
  	position: fixed;
  	right: 13.55%;
  	z-index: 9999;
  	outline: none;
  	top: 32px;
}
/*-- //effect --*/
/*--header-banner--*/
/*--start-banner--*/
.banner{
	background:url(../images/banner-1.png) no-repeat;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	min-height:920px;
	position:relative;
}
.banner-bottom {
  margin-top: 29%;
  text-align: center;
}
.banner-bottom h1 {
  color: #fff;
  font-weight: 300;
  font-size: 3.4em;
  margin: 0;
}
.banner-bottom p {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2em;
  width: 60%;
  margin: 15px auto 0;
}
.banner-bottom p a{
	color:#fff;
	border-bottom:1px solid #fff;
}
.banner-bottom p span{
	color:#17ded7;
	font-weight:700;
	font-size:21px;
}
/*------------------ Slider Part starts Here----------*/
.slider{
	background:url(../images/slide-banner.jpg)no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	min-height:300px;
}
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 239%;
  left: -4%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 52px;
  width: 32px;
  background: transparent url("../images/arws.png") no-repeat left top;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: -4%;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border-radius:200px;
  -webkit-border-radius:200px;
  -moz-border-radius:200px;
  -o-border-radius:200px;
}
.callbacks_tabs {
  list-style: none;
  position: absolute;
  top: 240%;
  z-index: 999;
  left: 47%;
  padding: 0;
  margin: 0;
  display: block;
}
.slider-top{
	text-align: center;
	margin-bottom:2.5em;
}
.slider-top p.below{
	font-size: 14px;
	color: #fff;
	font-weight: 100;
}
.slider-top h3{
	font-size:20px;
	font-weight:400;
	margin:10px 0px;
	color:#fff;
}
.slider-top ul.social-slide{
	display:inline-flex;
	margin: 0px;
	padding: 0px;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:16px;
  width:16px;
  display:inline-block;
  border:1px solid #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	border:1px solid #17ded7;
}
ul.callbacks_tabs.callbacks2_tabs {
	display: block;
}
ul.callbacks_tabs.callbacks2_tabs li{
	margin:0 7px;
}
ul.callbacks_tabs.callbacks2_tabs li a:after {
	 background:#cecece;
	 height:8px;
  	 width:8px;
  	 border:none;
}
ul.callbacks_tabs.callbacks2_tabs .callbacks_here a:after{
  	background:#000;
  	border:none;
}
ul.callbacks_tabs.callbacks2_tabs {
  top: 123%;
}
/*--Slider-Part-Ends-Here--*/
.dwn-arw {
  position: absolute;
  bottom: 0;
  top: 87%;
  left: 47.25%;
}
/*--header-banner--*/
/*--start-about--*/
.about{
	padding:7em 0px 9em 0px;
	position:relative;
}
.about-main h3,.work-top h3,
.why-top h3,.team-top h3,
.skills-top h3,.touch-main h3{
  color: #0c0707;
  font-size: 2.1em;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
}
.about-main{
	text-align:center;
}
.about-main h3 span,.work-top h3 span,
.why-top h3 span,.team-top h3 span,
.skills-top h3 span,.touch-main h3 span{
	color:#17ded7;
}
.about-main img,.why-top img,
.team-top img,.skills-top img{
	margin-top:3em;
}
.about-bottom{
	margin-top:2em;
}
.about-bottom a h4 {
  color: #000;
  font-size: 1.23em;
  font-weight: 500;
  margin: 0;
  font-style: italic;
  background: url(../images/rgt-arw.png) no-repeat 300px 7px;
}
.about-bottom p {
  color: #666666;
  font-size: 17px;
  font-weight: 400;
  margin-top: 1em;
  line-height: 1.6em;
  word-spacing: 2px;
  padding-right: 9%;
}
.dwn-arw1 {
  position: absolute;
  top: 100%;
  left: 47.5%;
   z-index: 999;
}
/*--end-about--*/
/*--work-about--*/
.work {
  background: url(../images/work-banner.png) no-repeat;
  background-size: 100% 100%;
  min-height: 1325px;
  position:relative;
}
.dwn-arw2 {
  position: absolute;
  top: 97.1%;
  left: 47.5%;
  z-index:999;
}
.work-top {
  text-align: center;
  margin-top: 11.5%;
}
.more{
	margin-top:0%;
	text-align:center;
}
.more a {
  color: #000;
  font-weight: 500;
  font-size: 22px;
}
.more a:hover{
	color:#17ded7;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  visibility: hidden;
  font-size: 15px;
  font-weight: 400;
  width: 80%;
  line-height: 1.3em;
  margin: 0 auto;
  top: 40%;
}
.b-animate img{
	margin-top:12%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin: 2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
ul#filters {
	padding: 0px;
	text-align: center;
	padding: 1px 0;
	margin: 0 auto;
	border-radius: 2.3em;
	-webkit-border-radius: 2.3em;
	-moz-border-radius: 2.3em;
	-o-border-radius: 2.3em;
	-ms-border-radius: 2.3em;
}
/*--team--*/
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width: 22.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	background: #FFF;
}
.b-wrapper:hover {
  background: rgba(39, 45, 67, 0.7);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
h2.b-animate {
  color: #17ded7;
  font-size: 19px;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 6%;
}
h2.b-animate span{
	color:#fff;
	font-size:13px;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	display:block;
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
#filters li {
		display: -webkit-inline-box;
	}
#filters li span {
  display: block;
  letter-spacing: 1px;
  padding: 10px 27px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1.095em;
  font-weight: 700;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 10px 0 0;
}
#filters li span.active, #filters li span:hover {
	color: #a4a4a4;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 31%;
  display: none;
  float: left;
  overflow: hidden;
  margin: 0 2.3% 2.3% 0;
}
div#portfoliolist {
  padding: 2.8% 0px;
}
.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
	}
.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
   }
.row:after,
.clearfix:after {
  clear: both;
   }
.row,
.clearfix {
  zoom: 1;
   }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*---------------*/
.work-bottom {
  margin-top: 2.5%;
}
/*--work-about--*/
/*--start-why--*/
.why{
	padding:6em 0px;
	position:relative;
}
.why-top{
	text-align:center;
}
.why-bottom{
	margin-top:4em;
}
.why-left{
	text-align:right;
}
.why-right h4 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.why-right span {
  color: #666666;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
}
.why-right p {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  margin-top: 1em;
  line-height: 1.6em;
  word-spacing: 2px;
  padding-right: 18%;
  letter-spacing: 1px;
}
.why-one{
	margin-top:4.5em;
}
.why-one:nth-child(1){
	margin-top:0;
}
.dwn-arw3 {
  	position: absolute;
  	top: 97.48%;
  	left: 47.5%;
  	z-index: 999;
}
/*--end-why--*/
/*--start-temp--*/
.temp{
	background:url(../images/temp-banner.png) no-repeat;
	background-size:100% 100%;
	min-height:671px;
	position:relative;
}
.dwn-arw4 {
  position: absolute;
  top: 93.09%;
  left: 47.5%;
}
.temp-top {
  	margin-top: 8.5%;
}
.temp-left h3 {
  color: #fff;
  font-weight: 400;
  font-size: 3.5em;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
.temp-left p {
  	color: #fff;
  	font-size: 17px;
  	font-weight: 300;
  	margin-top: 1em;
  	line-height: 1.6em;
  	word-spacing: 2px;
  	padding-right: 15%;
  	letter-spacing: 1px;
}
.temp-btn a {
  color: #fff;
  font-weight: 300;
  font-size: 21px;
  font-family: 'Oswald', sans-serif;
}
.temp-btn {
  margin-top: 6%;
}
.temp-left {
  margin-top: 14%;
}
.temp-btn a:hover {
  color: #17ded7;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}
.temp-right{
	text-align:center;
}
/*--end-temp--*/
/*--start-abt-us--*/
.abt-us{
	background:#f9f9f9;
	padding:5em 0px;
}
.abt-us-left span{
	background:url(../images/abt-sprit.png) no-repeat;
	width:73px;
	height:100px;
	display:inline-block;
	vertical-align: middle;
}
.abt-us-left span.one{
	background-position:0px 0px;
}
.abt-us-left span.two{
	background-position:-73px 0px;
}
.abt-us-left span.tre{
	background-position:-146px 0px;
}
.abt-us-left span.fvr{
	background-position:-219px 0px;
}
.abt-us-one {
  	display: inline-block;
  	vertical-align: middle;
  	margin-left: 6%;
}
.abt-us-one h4 {
  	color: #000;
  	font-family: 'Oswald', sans-serif;
  	font-size: 22px;
  	font-weight: 700;
  	margin: 0;
}
.abt-us-one p {
  color: #444444;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-style: italic;
}
/*--end-abt-us--*/
/*--start-team--*/
.team-top{
	text-align:center;
}
.team{
	padding:6em 0px;
}
.team-top p {
  width: 35%;
  margin: 2.5em auto 0;
  color: #666666;
  font-size: 15px;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.6em;
  font-style: italic;
}
.team-bottom{
	margin-top:5em;
}
.team-left h4 {
  	color: #000;
  	font-family: 'Oswald', sans-serif;
  	font-size: 18px;
  	font-weight: 700;
  	margin: 2.5em 0 0 0;
}
.team-left p{
	color:#666666;
	font-size:14px;
	font-weight:400;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	margin-top:10px;
}
.team-left{
	text-align:center;
}
.team-one {
  	border-bottom: 1px solid rgba(102, 102, 102, 0.4);
  	padding-bottom: 10%;
}
/*--end-team--*/
/*--video-about--*/
.video{
	background:url(../images/video-banner.jpg) no-repeat;
	background-size:100% 100%;
	min-height:680px;
}
a.play-icon span {
	width: 24px;
	height: 37px;
	display: inline-block;
	background: url(../images/video-btn.png) no-repeat 0px 0px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	outline: none;
}
.video-main {
	text-align: center;
	padding-top: 30%;
}
/*--video-about--*/
/*--skills-about--*/
.skills{
	padding:6em 0px;
}
.skills-top{
	text-align:center;
}
.skills-bottom{
	margin-top:3%;
}
.skill-main h4{
	color: #000;
  	font-size: 18px;
  	font-weight: 600;
  	margin-bottom: 10px;
  	letter-spacing: 1px;
}
.skill-main span {
  	color: #666666;
  	font-size: 15px;
  	font-weight: 400;
  	letter-spacing: 1px;
}
.skill-main p {
  	color: #444444;
  	font-size: 15px;
  	font-weight: 400;
  	line-height: 1.6em;
  	margin-top: 1em;
  	letter-spacing: 1px;
  	padding-right: 12%;
}
.skill-right h4 {
  	color: #333333;
  	font-size: 18px;
  	font-weight: 700;
  	margin: 0;
  	letter-spacing: 1px;
}
.poll_desc h5 {
  	color: #333333;
  	font-weight: 400;
  	font-size: 14px;
  	letter-spacing: 1px;
}
.poll {
  	margin-top: 15px;
}
.skl-one {
  	width: 75%;
}
.skill-main {
  	width: 73%;
  	float: right;
}
.poll:nth-child(2){
	margin-top:1.7em;
}
.skill {
  	width: 100%;
  	margin: 13px 0 0 0;
  	height: 15px;
  	background: red;
  	border-radius: 1.3em;
    -webkit-border-radius: 1.3em;
	-moz-border-radius: 1.3em;
	-o-border-radius: 1.3em;
	-ms-border-radius: 1.3em;
}
.skill > div {
  	height: 100%;
  	display: block;
  	background-color: red;
    border-radius: 1.3em;
    -webkit-border-radius: 1.3em;
	-moz-border-radius: 1.3em;
	-o-border-radius: 1.3em;
	-ms-border-radius: 1.3em;
}
/*--end-skill--*/
/*--start-client--*/
.clients{
	background:url(../images/client-banner.png) no-repeat;
	background-size:100% 100%;
	min-height:133px;
}
.clients-top {
  	margin-top: 3.4%;
}
.clients-top ul {
  	padding: 0;
  	width: 80%;
  	margin: 0 auto;
  	text-align: center;
}
.clients-top ul li {
  	list-style: none;
  	display: inline-block;
  	margin: 0 1.3em;
}
/*--end-client--*/
/*--start-testemonials--*/
.testemonials {
  	background: url(../images/test-banner.png) no-repeat;
  	background-size: 100% 100%;
  	min-height: 629px;
  	margin-top: -33px;
}
.testemonials-main {
  	margin-top: 24%;
  	width: 45%;
  	float: right;
}
.text-right p {
  	color: #444444;
  	font-size: 15px;
  	line-height: 1.6em;
  	font-weight: 400;
  	letter-spacing: 1px;
  	text-align:left;
}
.text-left{
	width:5%;
	float:left;
}
.text-right {
  	width: 87%;
  	float: right;
}
.text-bottom{
	text-align:right;
	margin-top:15px;
}
.text-bottom h4 {
  	font-family: 'Lobster Two', cursive;
  	color: #000;
  	font-size: 19px;
  	font-weight: 700;
  	font-style: italic;
}
.text-bottom p {
  	color: #444444;
  	font-style: italic;
  	font-size: 15px;
  	font-weight: 400;
  	margin-top: 7px;
}
/*--end-testemonials--*/
/*--start-touch--*/
.touch {
  	padding: 7em 0 4em 0px;
}
.mobile {
  position: absolute;
  top: -15px;
  left: 36%;
  z-index: 99999;
}
.touch-main{
	text-align:center;
}
.touch-main h3:before {
  	position: absolute;
  	width: 6%;
  	height: 1px;
  	background: rgba(40, 37, 40, 0.33);
  	display: block;
  	content: '';
  	left: 30.5%;
  	top: 19px;
}
.touch-main h3{
	position:relative;
}
.touch-main h3:after {
  	position: absolute;
  	width: 6%;
  	height: 1px;
  	background: rgba(40, 37, 40, 0.33);
  	display: block;
  	content: '';
  	left: 63.5%;
  	top: 19px;
}
.touch-main p {
  	color: #282528;
  	font-size: 18px;
  	font-weight: 400;
  	line-height: 2em;
  	width: 84%;
  	margin: 7% auto 0;
  	letter-spacing: 1px;
}
.touch-bottom {
  margin-top: 14%;
  position: relative;
}
.touch-bottom h4 {
  	color: #282528;
  	font-size: 24px;
  	font-weight: 400;
  	margin: 0;
  	letter-spacing: 1px;
}
.touch-bottom input[type="text"] {
  	width: 100%;
  	color: #5b646e;
  	outline: none;
  	background: none;
  	border: none;
  	font-weight: 400;
  	font-size: 15px;
  	padding: 6px 0px 15px 0;
  	margin: 2.2em 0px 0 0;
  	border-bottom: 1px solid rgba(153, 153, 153, 0.28);
  	-webkit-appearance: none;
  	font-family: 'Roboto', sans-serif;
}
.touch-bottom input[type="text"]:nth-child(2) {
  	margin-top: 9%;
}
.touch-bottom textarea {
  	resize: none;
  	width: 100%;
  	font-weight: 400;
  	color: #5b646e;
  	font-size: 15px;
  	background: none;
  	outline: none;
  	border: none;
  	padding: 6px 0px 0px 0;
  	border-bottom: 1px solid rgba(153, 153, 153, 0.28);
  	-webkit-appearance: none;
  	font-family: 'Roboto', sans-serif;
  	height: 61px;
  	margin: 2.2em 0px 0 0;
}
.sub-button input[type="submit"] {
  	outline: none;
  	color: #000;
  	background: url(../images/msg.png) no-repeat 0px 22px;
  	font-size: 18px;
  	font-weight: 400;
  	border: none;
  	padding: 22px 0px 0px 58px;
  	-webkit-appearance: none;
  	font-family: 'Roboto', sans-serif;
}
.sub-button input[type="submit"]:hover{
	color:#17ded7;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.sub-button{
	margin-top:3em;
}
/*--end-touch--*/
/*--start-footer--*/
.footer{
	background:url(../images/footer-banner.png) no-repeat;
	background-size:100% 100%;
	min-height:408px;
}
.footer-main{
	text-align:center;
}
.footer-main a h3{
	color:#fff;
	font-size:27px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	margin:0;
}
.footer-main {
  	margin-top: 14%;
}
.footer-main ul{
	padding:0;
	margin-top:4%;
}
.footer-main ul li{
	list-style:none;
	display:inline-block;
	margin:0 7px;
}
.footer-main ul li span{
	background:url(../images/social-icons.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
	opacity: 1.0;
    filter: alpha(opacity=100);
}
.footer-main ul li span:hover{
	opacity: 0.4;
    filter: alpha(opacity=40);
    transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.footer-main ul li span.fb{
	background-position:0px 0px;
}
.footer-main ul li span.twit{
	background-position:-32px 0px;
}
.footer-main ul li span.drbl{
	background-position:-64px 0px;
}
.footer-main ul li span.be{
	background-position:-96px 0px;
}
.footer-main ul li span.in{
	background-position:-128px 0px;
}
.footer-main ul li span.p {
  background-position: -160px 0px;
}
.footer-main p{
	color: #909090;
  	font-size: 14px;
  	font-weight: 400;
  	font-family: 'PT Sans', sans-serif;
  	margin-top:3%;
}
.footer-main p a{
	color: #909090;
}
.footer-main p a:hover{
	color: #17ded7;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*--end-footer--*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 47px;
  height: 47px;
  border: none;
  text-indent: 100%;
  background: url(../images/top-arrow.png) no-repeat;
}
/*--media-quaries-starts--*/
@media (max-width:1440px){
button#showRightPush {
  	right: 9.1%;
}
.banner-bottom {
  	margin-top: 27%;
}
.callbacks_tabs {
  	top: 210%;
}	
.callbacks_nav {
  	top: 209%;
}
.banner {
  	min-height: 860px;
}
.about {
  	padding: 6em 0px 8em 0px;
}
.work-top {
  	margin-top: 12%;
}
.video {
  	min-height: 640px;
}
.video-main {
  	padding-top: 27%;
}
.touch {
  	padding: 6em 0 3em 0px;
}
.touch-bottom {
  	margin-top: 13%;
}
.mobile {
  top: -33px;
}
button#showLeftPush {
  	right: 9.19%;
}
.skills {
  	padding: 5.5em 0px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  	left: 47.3%;
  	top: 25px;
}
}
@media (max-width:1366px){
.logo a img {
  	width: 95%;
}
.touch-bottom input[type="text"]:nth-child(2) {
  	margin-top: 6.8%;
}
button#showLeftPush img {
  	width: 95%;
}	
.banner-bottom h1 {
  	font-size: 3.25em;
}
.banner-bottom p {
  	font-size: 19px;
  	width: 59%;
}
.cbp-spmenu-left.cbp-spmenu-open {
  	left: 45.3%;
}
.banner-bottom {
  	margin-top: 24%;
}
.banner {
  	min-height: 780px;
}
.callbacks_tabs {
  left: 46.5%;
}
.callbacks_nav {
  	height: 47px;
  	width: 27px;
  	background-size: 195%;
  	left: -2%;
}
.callbacks_nav.next {
  	right: -2%;
}
.about {
  	padding: 5em 0px 7em 0px;
}
.b-animate {
  	top: 47%;
}
.about-main img, .why-top img, 
.team-top img, .skills-top img {
  	margin-top: 2.3em;
}
.why {
  	padding: 5em 0px;
}
.why-one {
  	margin-top: 3.3em;
}
.temp-left h3 {
  	font-size: 3.35em;
}
.temp-right img {
  	width: 42%;
}
.temp-top {
  	margin-top: 8.2%;
}
.temp {
  	min-height: 647px;
}
.abt-us {
  	padding: 4em 0px;
}
.team {
  	padding: 5em 0px;
}
.team-top p {
  	width: 32%;
  	margin: 2em auto 0;
}
.team-left h4 {
  	font-size: 17px;
  	margin: 2.25em 0 0 0;
}
.team-one {
  	padding-bottom: 8%;
}
.video {
  	min-height: 540px;
}
.video-main {
  	padding-top: 23%;
}
.skills {
  	padding: 4.2em 0px;
}
.testemonials {
  	min-height: 550px;
}
.testemonials-main {
  	margin-top: 18.5%;
}
.touch {
  	padding: 5em 0 2em 0px;
}
.touch-main p {
  	margin: 4.5% auto 0;
}
.touch-bottom {
  	margin-top: 11%;
}
.mobile {
  top: -63px;
}
.footer-main {
  	margin-top: 11%;
}
.footer {
  	min-height: 370px;
}
.dwn-arw2,.dwn-arw,.dwn-arw1,
.dwn-arw3,.dwn-arw4{
  	left: 46.5%;
}
.dwn-arw3 {
  top: 97.15%;
}
.dwn-arw4 {
  top: 92.9%;
}
}
@media (max-width:1280px){
.logo a img {
  	width: 85%;
}
button#showLeftPush img {
  	width: 85%;
}
.header-info {
  	padding: 2.5% 0% 0 0%;
}
button#showLeftPush {
  	right: 3.65%;
}
.banner-bottom h1 {
  	font-size: 3.1em;
}	
.banner-bottom {
  	margin-top: 18%;
}
.banner {
  	min-height: 670px;
}
.dwn-arw2, .dwn-arw, .dwn-arw1, 
.dwn-arw3, .dwn-arw4 {
  	left: 46.9%;
  	text-align: center;
}
.callbacks_tabs {
  	left: 47.4%;
  	top: 202%;
}
.callbacks_nav {
  	top: 201%;
}
.about-main h3, .work-top h3, .why-top h3,
 .team-top h3, .skills-top h3, .touch-main h3 {
  	font-size: 1.95em;
}
.about {
  	padding: 4em 0px 4.5em 0px;
}
.about-main img, .why-top img, .team-top img, .skills-top img {
  	margin-top: 2em;
}
.about-bottom a h4 {
  	font-size: 1.2em;
  	background: url(../images/rgt-arw.png) no-repeat 293px 5px;
}
.about-bottom p {
  	font-size: 16px;
  	margin-top: 14px;
}
.dwn-arw a img,.dwn-arw1 img,.dwn-arw2 img,
.dwn-arw3 img,.dwn-arw4 img  {
  	width: 80%;
  	text-align: center;
}
.dwn-arw1 {
  	 top: 102%;
}
.work-bottom {
  	margin-top: 1.3%;
}
.work-top {
  	margin-top: 10.5%;
}
div#portfoliolist {
  	padding: 1.8% 0px;
}
.work {
  	min-height: 1250px;
}
.more a {
  	font-size: 21px;
}
.dwn-arw2 {
  	top: 97.1%;
}
.why-bottom {
  	margin-top: 3.5em;
}
.why-left img {
  	width: 40%;
}
.why-right h4 {
  	font-size: 17px;
  	margin-bottom: 7px;
}
.why-right p {
  	font-size: 15px;
  	margin-top: 11px;
  	padding-right: 22%;
}
.why-one {
  	margin-top: 2.75em;
}
.dwn-arw3 {
  	top: 97.92%;
}
.temp-left h3 {
  	font-size: 3em;
}
.temp-left p {
  	font-size: 16px;
  	margin-top: 12px;
  	word-spacing: 1px;
  	padding-right: 19%;
}
.temp-right img {
  	width: 37%;
}
.temp-top {
  	margin-top: 7.5%;
}
.temp {
  	min-height: 580px;
}
.temp-btn a {
  	font-size: 20px;
}
.temp-left {
  	margin-top: 11.5%;
}
.dwn-arw4 {
  top: 93.1%;
}
.abt-us {
  	padding: 3em 0px;
}
.abt-us-left span {
  	width: 65px;
  	height: 92px;
  	background-size: 400%;
}
.abt-us-left span.two {
  	background-position: -65px 0px;
}
.abt-us-left span.tre {
  	background-position: -130px 0px;
}
.abt-us-left span.fvr {
  	background-position: -195px 0px;
}
.abt-us {
  	padding: 2.5em 0px;
}
.team {
  	padding: 4em 0px;
}
.team-top p {
  	width: 32%;
  	margin: 1.5em auto 0;
}
.team-one img {
  	width: 81%;
}
.team-bottom {
  	margin-top: 2.7em;
}
.video {
  	min-height: 480px;
}
.video-main {
  	padding-top: 20.5%;
}
.skill-main h4 {
  	font-size: 17px;
  	margin-bottom: 6px;
}
.skill-main p {
  	margin-top: 14px;
}
.skill {
  	margin: 9px 0 0 0;
  	height: 14px;
}  
.poll:nth-child(2) {
  	margin-top: 1.3em;
}
.testemonials {
  	min-height: 480px;
}
.testemonials-main {
  	margin-top: 17.5%;
}
ul.callbacks_tabs.callbacks2_tabs {
  	top: 110%;
}
.touch {
  	padding: 4em 0 1em 0px;
}
.touch-main p {
  	margin: 2.5% auto 0;
  	font-size: 17px;
  	line-height: 1.8em;
  	width: 82%;
}
.touch-bottom {
  margin-top: 8.5%;
}
.mobile img {
  	width: 90%;
}
.mobile {
  top: -32px;
}
.touch-bottom input[type="text"] {
  	padding: 6px 0px 10px 0;
  	margin: 1.5em 0px 0 0;
}
.touch-bottom textarea {
  	height: 42px;
  	margin: 1.5em 0px 0 0;
}
.sub-button {
  	margin-top: 2em;
}
.mobile img {
  	width: 76.2%;
}
.footer-main a h3 {
  	font-size: 24px;
}
.footer-main ul {
  	margin-top: 2.8%;
}
.footer-main ul li {
  	margin: 0 6px;
}
.footer-main p {
  margin-top: 2%;
}
.footer {
  min-height: 310px;
}
.footer-main {
  margin-top: 9%;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 47.3%;
}
}
@media (max-width:1024px){
.logo a img {
  width: 80%;
}
button#showLeftPush img {
  width: 80%;
}
.header-info {
  padding: 3% 0% 0 0%;
}
button#showLeftPush {
  right: 2.2%;
}
.banner-bottom h1 {
  font-size: 2.7em;
}	
.banner-bottom p span {
  font-size: 19px;
}
.banner-bottom p {
  font-size: 18px;
  width: 67%;
  margin: 11px auto 0;
}
.callbacks_tabs a:after {
  height: 15px;
  width: 15px;
}
.dwn-arw a img, .dwn-arw1 img, .dwn-arw2 img,
 .dwn-arw3 img, .dwn-arw4 img {
  width: 75%;
}
.dwn-arw2, .dwn-arw, .dwn-arw1,
 .dwn-arw3, .dwn-arw4 {
  left: 45.2%;
}
.banner {
  min-height: 580px;
}
.callbacks_tabs {
  left: 45.9%;
  top: 173%;
}
.callbacks_nav {
  top: 171%;
}
.callbacks_nav {
  height: 42px;
  width: 22px;
  background-size: 195%;
  left: 0%;
}
.callbacks_nav.next {
  right: 0%;
}
.about-main h3, .work-top h3, .why-top h3,
 .team-top h3, .skills-top h3, .touch-main h3 {
  font-size: 1.7em;
}
.about-main img, .why-top img, .team-top img, .skills-top img {
  margin-top: 1.5em;
}
.about-bottom a h4 {
  font-size: 1.1em;
  background: url(../images/rgt-arw.png) no-repeat 258px 7px;
}
.about-bottom p {
  font-size: 15px;
  margin-top: 11px;
  padding-right: 8%;
}
.about {
  padding: 2.5em 0px 3.5em 0px;
}
.dwn-arw1 {
  top: 100.49%;
}
.dwn-arw3 {
  top: 97.4%;
}
.dwn-arw4 {
  top: 92.79%;
}
#filters li span {
  padding: 6px 14px;
  font-size: 1em;
  margin: 0 0px 0 0;
}
.b-animate {
  top: 44%;
}
h2.b-animate {
  padding-bottom: 5%;
}
.work {
  min-height: 1015px;
}
div#portfoliolist {
  padding: 1.8% 0px 5px 0;
}
.why {
  padding: 3.7em 0px;
}
.why-left img {
  width: 37%;
}
.why-bottom {
  margin-top: 2.5em;
}
.why-right p {
  margin-top: 6px;
  padding-right: 9%;
}
.why-one {
  margin-top: 2em;
}
.temp-left h3 {
  font-size: 2.35em;
}
.temp-left p {
  font-size: 15px;
  margin-top: 10px;
  word-spacing: 0px;
  padding-right: 8%;
}
.temp-btn a {
  font-size: 19px;
}
.temp-btn {
  margin-top: 4%;
}
.temp-right img {
  width: 40%;
}
.temp {
  min-height: 495px;
}
.abt-us-left span {
  width: 58px;
  height: 85px;
}
.abt-us-left span.two {
  background-position: -58px 0px;
}
.abt-us-left span.tre {
  background-position: -116px 0px;
}
.abt-us-left span.fvr {
  background-position: -174px 0px;
}
.abt-us-one {
  margin-left: 3%;
}
.abt-us-one h4 {
  font-size: 19px;
}  
.abt-us-one p {
  margin-top: 8px;
  font-size: 16px;
}
.abt-us {
  padding: 2em 0px;
}
.team {
  padding: 3.2em 0px;
}
.team-top p {
  width: 38%;
  margin: 1.1em auto 0;
}
.team-bottom {
  margin-top: 2.1em;
}
.team-one img {
  width: 77%;
}
.team-left h4 {
  font-size: 15px;
  margin: 2em 0 0 0;
}
.team-left p {
  font-size: 13px;
  margin-top: 7px;
}
.team-one {
  padding-bottom: 6%;
}
.video {
  min-height: 400px;
}
#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3,
 #small-dialog4, #small-dialog5 {
  max-width: 700px;
}
.poll_desc h5 {
  font-size: 13px;
}
.skill {
  margin: 6px 0 0 0;
  height: 11px;
}
.skill-main h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
.skill-right h4 {
  font-size: 16px;
}
.skills {
  padding: 3.2em 0px;
}
.skill-main p {
  margin-top: 10px;
  font-size: 14px;
}
.clients-top ul li img {
  width: 80%;
}
.clients-top ul {
  width: 100%;
}
.clients {
  min-height: 117px;
}
.testemonials {
  min-height: 390px;
}
.text-right {
  width: 89%;
}
.text-bottom h4 {
  font-size: 18px;
}
.text-bottom p {
  font-size: 14px;
  margin-top: 4px;
}
.text-bottom {
  margin-top: 10px;
}
.testemonials-main {
  margin-top: 16.5%;
  width: 51%;
}
.touch {
  padding: 3em 0 0em 0px;
}
.touch-main p {
  margin: 1.8% auto 0;
  font-size: 16px;
  line-height: 1.6em;
  width: 95%;
}
.touch-bottom {
  margin-top: 8.5%;
}
.touch-bottom h4 {
  font-size: 22px;
}
.touch-bottom input[type="text"]:nth-child(2) {
  margin-top: 5%;
}
.touch-bottom input[type="text"] {
  padding: 6px 0px 8px 0;
  margin: 1em 0px 0 0;
}
.touch-bottom textarea {
  height: 39px;
  margin: 1em 0px 0 0;
}
.sub-button input[type="submit"] {
  background: url(../images/msg.png) no-repeat 0px 25px;
  font-size: 17px;
  background-size: 20%;
  padding: 22px 0px 0px 40px;
}
.sub-button {
  margin-top: 1em;
}
.mobile img {
  width: 65%;
}
.mobile {
  top: -27px;
}
.footer {
  min-height: 270px;
}
.cbp-spmenu-vertical a {
  padding: 13px 1.1em;
}
.cbp-spmenu a {
  font-size: 1.1em;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 38.3%;
  top: 21px;
}
}
@media (max-width:768px){
.header-info {
  padding: 3.5% 0% 0 0%;
}
#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3,
 #small-dialog4, #small-dialog5 {
  max-width: 652px !important;
}
#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3,
 #small-dialog4, #small-dialog5 {
  max-width: 560px !important;
  padding: 12px 12px !important;
  margin: 0px auto !important;
}
.logo a img {
  width: 65%;
}
button#showLeftPush img {
  width: 70%;
}
button#showLeftPush {
  right: 0.3%;
  top: 22px;
}
.banner-bottom h1 {
  font-size: 2.15em;
}
.banner-bottom p {
  font-size: 16px;
  width: 80%;
  margin: 9px auto 0;
}
.banner-bottom p span {
  font-size: 18px;
}
.banner-bottom {
  margin-top: 19%;
}
.dwn-arw a img, .dwn-arw1 img, .dwn-arw2 img,
 .dwn-arw3 img, .dwn-arw4 img {
  width: 65%;
}
.callbacks_tabs a:after {
  height: 14px;
  width: 14px;
}
.callbacks_nav {
  height: 40px;
  width: 20px;
  left: 2%;
}	
.callbacks_nav.next {
  right: 2%;
}
.banner {
  min-height: 480px;
}
.about-left{
	width:50%;
	float:left;
}
.about-left:nth-child(3){
	display:none;
}
.about-main h3, .work-top h3, .why-top h3, .team-top h3,
 .skills-top h3, .touch-main h3 {
  font-size: 1.4em;
}
.about-bottom a h4 {
  font-size: 1.05em;
  background: url(../images/rgt-arw.png) no-repeat 245px 5px;
}
.about-bottom p {
  font-size: 14px;
  margin-top: 8px;
  padding-right: 21%;
}
.about-main img, .why-top img, 
.team-top img, .skills-top img {
  margin-top: 1em;
}
.about-bottom {
  margin-top: 1.5em;
}
.about {
  padding: 1.5em 0px 2.5em 0px;
}
#filters li span {
  padding: 2px 11px;
  font-size: 15px;
}
.work-bottom {
  margin-top: 1.5%;
}
h2.b-animate {
  font-size: 17px;
}
.work-top {
  margin-top: 12%;
}
.work {
  min-height: 790px;
}
.more a {
  font-size: 20px;
}
.dwn-arw2, .dwn-arw, .dwn-arw1, .dwn-arw3, .dwn-arw4 {
  left: 43.4%;
}
.callbacks_tabs {
  left: 44.9%;
  top: 198%;
}
.dwn-arw1 {
  top: 98.8%;
}
.why-left {
  width: 20%;
  float: left;
}
.why-right {
  width: 80%;
  float: right;
}
.why-right h4 {
  font-size: 16px;
  margin-bottom: 3px;
}
.why-right span {
  font-size: 14px;
}
.why-right p {
  margin-top: 6px;
  padding-right: 0%;
  word-spacing: 0px;
}
.why-left img {
  width: 60%;
  margin-top: 7px;
}
.why-one {
  margin-top: 1.5em;
}
.why-bottom {
  margin-top: 2em;
}
.why {
  padding: 3em 0px;
}
.dwn-arw3 {
  top: 100%;
}
.temp-left {
  margin-top: 10.5%;
  width: 50%;
  float: left;
}
.temp-right {
  width: 50%;
  float: right;
}
.temp-left h3 {
  font-size: 2em;
}
.temp-left p {
  margin-top: 11px;
  padding-right: 4%;
  overflow: hidden;
  height: 45px;
}
.temp-btn a {
  font-size: 18px;
}
.temp {
  min-height: 370px;
}
.dwn-arw3 {
  top: 96.95%;
}
.abt-us-left {
  width: 33.3%;
  float: left;
}
.abt-us-left:nth-child(4){
	display:none;
}
.abt-us-left span {
  width: 50px;
  height: 77px;
}
.abt-us-left span.two {
  background-position: -50px 0px;
}
.abt-us-left span.tre {
  background-position: -100px 0px;
}
.abt-us-one h4 {
  font-size: 18px;
}
.abt-us-one p {
  margin-top: 6px;
  font-size: 15px;
}
.abt-us {
  padding: 1.5em 0px 1em 0px;
}
.team-top p {
  width: 50%;
  margin: 1em auto 0;
  font-size: 14px;
}
.team-one img {
  width: 90%;
}
.team-left {
  width: 25%;
  float: left;
}
.team-bottom {
  margin-top: 1.5em;
}
.team {
  padding: 3em 0px;
}
a.play-icon span {
  width: 19px;
  height: 32px;
  background-size: 100%;
}
.video {
  min-height: 340px;
}
.video-main {
  padding-top: 22.5%;
}
.skill-left {
  width: 50%;
  float: left;
}
.skill-right {
  width: 50%;
  float: right;
}
.skill-main {
  width: 100%;
  float: right;
}
.skl-one {
  width: 80%;
}
.clients-top ul li img {
  width: 70%;
}
.clients-top ul li {
  margin: 0 0.4em;
}
.clients-top {
  margin-top: 4.4%;
}
.text-left {
  width: 6%;
}
.testemonials-main {
  margin-top: 12.5%;
  width: 52%;
}
.text-right p {
  font-size: 14px;
}
.text-bottom h4 {
  font-size: 17px;
}
.text-bottom p {
  font-size: 13px;
  margin-top: 3px;
}
.testemonials {
  min-height: 280px;
}
ul.callbacks_tabs.callbacks2_tabs li a:after {
  height: 7px;
  width: 7px;
}
ul.callbacks_tabs.callbacks2_tabs li {
  margin: 0 4px;
}
ul.callbacks_tabs.callbacks2_tabs {
  top: 91%;
}
.touch-main p {
  margin: 1.3% auto 0;
  font-size: 15px;
  width: 100%;
}
.touch-left {
  width: 50%;
  float: left;
}
.touch-right {
  width: 50%;
  float: right;
}
.touch-bottom h4 {
  font-size: 20px;
}
.touch-bottom {
  margin-top: 3.5%;
}
.mobile {
  top: 31px;
}
.touch {
  padding: 2em 0 0em 0px;
}
.touch-main h3:before,.touch-main h3:after {
  top: 11px;
}
.footer-main a h3 {
  font-size: 20px;
}
.footer {
  min-height: 220px;
}
#toTop {
  width: 40px;
  height: 40px;
  background-size: 100%;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 20%;
  top: 10px;
  width: 71.4%;
}
.touch-bottom input[type="text"],.touch-bottom textarea {
  font-size: 14px;
}
.mfp-content iframe {
  min-height: 460px !important;
}
}
@media (max-width:640px){
.dwn-arw1 {
  top: 99%;
}
.mfp-content iframe {
  min-height: 420px !important;
}
.dwn-arw4 {
  top: 93%;
}
.dwn-arw2 {
  top: 96.9%;
}
.dwn-arw3 {
  top: 97.2%;
}
.logo a img {
  width: 60%;
}
button#showLeftPush img {
  width: 62%;
}
button#showLeftPush {
  right: 0%;
  top: 19px;
}
.cbp-spmenu-vertical a {
  padding: 10px 15px;
}
.cbp-spmenu a {
  font-size: 1em;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 23%;
  top: 12px;
  width: 67.6%;
}
.banner-bottom h1 {
  font-size: 1.95em;
}
.banner-bottom p {
  font-size: 15px;
  width: 90%;
  margin: 6px auto 0;
}
.banner-bottom p span {
  font-size: 17px;
}	
.banner-bottom {
  margin-top: 17%;
}
.callbacks_nav {
  height: 38px;
  width: 18px;
}
.callbacks_tabs a:after {
  height: 13px;
  width: 13px;
}
.banner {
  min-height: 400px;
}
.callbacks_tabs {
  left: 44.9%;
  top: 185%;
}
.callbacks_nav {
  top: 200%;
}
.about-main h3, .work-top h3, .why-top h3,
 .team-top h3, .skills-top h3, .touch-main h3 {
  font-size: 1.3em;
}
.about-bottom a h4 {
  font-size: 1.03em;
  background: url(../images/rgt-arw.png) no-repeat 241px 5px;
}
.about-bottom p {
  margin-top: 7px;
  padding-right: 5%;
}
.dwn-arw a img, .dwn-arw1 img, .dwn-arw2 img,
 .dwn-arw3 img, .dwn-arw4 img {
  width: 55%;
}
.about-main img, .why-top img, .team-top img, .skills-top img {
  margin-top: 10px;
}
.about-bottom {
  margin-top: 1em;
}
.about {
  padding: 1em 0px 2em 0px;
}
#filters li span {
  padding: 2px 6px;
  font-size: 14px;
}
.work-bottom {
  margin-top: 2.5%;
}
h2.b-animate {
  font-size: 16px;
}
h2.b-animate span {
  font-size: 12px;
}
.b-animate {
  top: 39%;
}
.more a {
  font-size: 18px;
}
.work {
  min-height: 670px;
}
.why-right h4 {
  font-size: 15px;
  margin-bottom: 2px;
}
.why-right p {
  margin-top: 3px;
  font-size: 14px;
}
.why-left img {
  width: 66%;
  margin-top: 5px;
}
.temp-left h3 {
  font-size: 1.6em;
}
.temp-btn a {
  font-size: 17px;
}
.temp-btn {
  margin-top: 7%;
}
.temp-right img {
  width: 43%;
}
.temp-left {
  margin-top: 8.5%;
}
.abt-us-left span {
  width: 43px;
  height: 70px;
}
.abt-us-one h4 {
  font-size: 16px;
}
.abt-us-one p {
  margin-top: 4px;
  font-size: 14px;
}
.abt-us-left span.two {
  background-position: -43px 0px;
}
.abt-us-left span.tre {
  background-position: -86px 0px;
}
.abt-us {
  padding: 1.5em 0px 8px 0px;
}
.team-top p {
  width: 56%;
  margin: 10px auto 0;
}
.team-left {
  width: 33.3%;
}
.team-left:nth-child(3){
  display:none;
}
.team-one img {
  width: 80%;
}
.team-left h4 {
  font-size: 14px;
  margin: 1.7em 0 0 0;
}
.team-left p {
  font-size: 13px;
  margin-top: 5px;
}
.team {
  padding: 2.5em 0px;
}
.temp {
  min-height: 320px;
}
.video {
  min-height: 260px;
}
a.play-icon span {
  width: 16px;
  height: 29px;
}
.video-main {
  padding-top: 21%;
}
.skills {
  padding: 2.5em 0px;
}
.skill-main h4 {
  font-size: 15px;
  overflow: hidden;
  height: 17px;
}
.skill-main span {
  font-size: 14px;
}
.poll:nth-child(2) {
  margin-top: 1em;
}
.poll {
  margin-top: 12px;
}
.poll_desc h5 {
  font-size: 12px;
}
.skill {
  margin: 5px 0 0 0;
  height: 10px;
}
.skill-main p {
  margin-top: 7px;
  font-size: 13px;
  overflow: hidden;
  height: 100px;
}
.clients-top ul li:nth-child(4){
	display:none;
}
.clients {
  min-height: 110px;
}
.text-right p {
  font-size: 12px;
}
.text-left img {
  width: 100%;
}
.text-left img {
  width: 100%;
}
.text-bottom h4 {
  font-size: 16px;
}
.text-bottom p {
  font-size: 12px;
  margin-top: 3px;
}
.text-bottom {
  margin-top: 5px;
}
ul.callbacks_tabs.callbacks2_tabs li a:after {
  height: 6px;
  width: 6px;
}
.testemonials {
  min-height: 240px;
}
.testemonials-main {
  margin-top: 11.5%;
  width: 56%;
}
.touch-main h3:before {
  width: 7%;
  left: 27.5%;
}
.touch-main h3:after {
  width: 7%;
  left: 65.5%;
}
.touch-main p {
  margin: 1.2% auto 0;
  width: 89%;
  overflow: hidden;
  height: 48px;
}
.touch-bottom h4 {
  font-size: 18px;
}
.sub-button input[type="submit"] {
  background: url(../images/msg.png) no-repeat 0px 25px;
  font-size: 16px;
  background-size: 16%;
  padding: 20px 0px 0px 32px;
}
.sub-button {
  margin-top: 15px;
}
.footer-main a h3 {
  font-size: 18px;
}
.footer-main ul li {
  margin: 0 5px;
}
.footer-main ul {
  margin-top: 3%;
}
.footer {
  min-height: 195px;
}
#toTop {
  width: 35px;
  height: 35px;
}
.mobile img {
  width: 70%;
}
.mobile {
  top: 42px;
}
}
@media (max-width:480px){
.logo a img {
  width: 50%;
}
.dwn-arw2 {
  top: 96.8%;
}
button#showLeftPush img {
  width: 55%;
}
button#showLeftPush {
  top: 12px;
}	
.banner-bottom h1 {
  font-size: 1.5em;
}
.banner-bottom p {
  overflow: hidden;
  width: 97%;
  margin: 4px auto 0;
  height: 39px;
}
.callbacks_tabs a:after {
  height: 11px;
  width: 11px;
}
.callbacks_nav {
  height: 35px;
  width: 15px;
}
.dwn-arw a img, .dwn-arw1 img, .dwn-arw2 img,
 .dwn-arw3 img, .dwn-arw4 img {
  width: 45%;
}
.banner {
  min-height: 330px;
}
.callbacks_tabs {
  left: 41.9%;
  top: 175%;
}
.callbacks_nav {
  top: 190%;
}
.about-main h3, .work-top h3, .why-top h3, .team-top h3, 
.skills-top h3, .touch-main h3 {
  font-size: 1.17em;
}
.about-bottom a h4 {
  font-size: 1em;
  height: 19px;
  overflow: hidden;
}
.about-bottom p {
  margin-top: 5px;
  padding-right: 0%;
  overflow: hidden;
  height: 85px;
}
.about-main img, .why-top img, .team-top img, .skills-top img {
  margin-top: 0px;
}
.about-bottom {
  margin-top: 14px;
}
h2.b-animate {
  font-size: 14px;
}
h2.b-animate span {
  font-size: 11px;
}
.b-animate {
  top: 37%;
}
.more a {
  font-size: 17px;
}
.work {
  min-height: 530px;
}
.why-one {
  margin-top: 1.25em;
}
.why-one:nth-child(4){
 display:none;
}
.why-bottom {
  margin-top: 1.1em;
}
.why-right h4 {
  font-size: 14px;
  margin-bottom: 1px;
}
.why-right span {
  font-size: 13px;
}
.why-right p {
  margin-top: 3px;
  font-size: 13px;
  overflow: hidden;
  height: 40px;
}
.why-left img {
  width: 85%;
  margin-top: 7px;
}
.temp-left h3 {
  font-size: 1.11em;
}
.temp-left p {
  margin-top: 9px;
  padding-right: 0%;
  overflow: hidden;
  height: 45px;
  line-height: 1.5em;
}
.temp-right img {
  width: 47%;
}
.temp-top {
  margin-top: 8.5%;
}
.temp {
  min-height: 245px;
}
.abt-us-left:nth-child(3) {
  display: none;
}
.abt-us-left {
  width: 50%;
}
.abt-us-one p {
  margin-top: 2px;
  font-size: 13px;
}
.abt-us-left span {
  height: 57px;
}
.team-top p {
  width: 75%;
  margin: 5px auto 0;
  font-size: 13px;
}
.team-left h4 {
  font-size: 13px;
  margin: 1.55em 0 0 0;
}
.team-left p {
  font-size: 12px;
  margin-top: 2px;
}
.team-one {
  padding-bottom: 4%;
}
.team-bottom {
  margin-top: 1em;
}
.team {
  padding: 2em 0px;
}
.banner-bottom p span {
  font-size: 16px;
}
.video {
  min-height: 220px;
}
a.play-icon span {
  width: 15px;
  height: 22px;
}
.skill-left {
  width: 100%;
  float: none;
  text-align: center;
}
.skill-main p {
  margin-top: 4px;
  height: 41px;
  padding-right: 0%;
}
.skill-main h4 {
  font-size: 14px;
  height: 15px;
  margin-bottom: 1px;
}
.skill-right {
  width: 100%;
}
.skl-one {
  width: 65%;
  margin: 5% auto 0;
}
.text-right p {
  overflow: hidden;
  height: 58px;
  margin-top: 8px;
}
.text-left img {
  width: 80%;
}
.text-left {
  width: 9%;
}
.text-bottom {
  margin-top: 10px;
}
.testemonials {
  min-height: 180px;
}
.testemonials-main {
  margin-top: 7.5%;
  width: 42%;
}
.touch-main h3:before {
  width: 9%;
  left: 21.5%;
  top: 9px;
}
.touch-main h3:after {
  width: 9%;
  left: 69%;
  top: 9px;
}
.touch-main p {
  margin: 1.5% auto 0;
  width: 94%;
  font-size: 14px;
}
.touch-bottom h4 {
  font-size: 17px;
}
.mobile {
  display: none;
}
.touch-left {
  width: 85%;
  float: none;
  margin: 0 auto;
  text-align: center;
}
.sub-button {
  margin-top: 7px;
}
.dwn-arw4 {
  top: 93%;
}
.footer-main {
  margin-top: 12%;
}
.footer {
  min-height: 180px;
}
.dwn-arw2, .dwn-arw, .dwn-arw1, .dwn-arw3, .dwn-arw4 {
  left: 39.4%;
}
.dwn-arw3 {
  top: 96.4%;
}
.dwn-arw4 {
  top: 94%;
}
.skill-right h4 {
  font-size: 15px;
  text-align: center;
}
#small-dialog5 {
  max-width: 410px !important;
  padding: 9px 9px !important;
}
.mfp-content iframe {
  min-height: 384px !important;
}
}
@media (max-width:320px){
.header-info {
  padding: 5% 0% 0 0%;
}
#small-dialog5 {
  max-width: 270px !important;
  padding: 7px 7px !important;
}
.mfp-content iframe {
  min-height: 208px !important;
}
button#showLeftPush {
  top: 9px;
}
.banner-bottom h1 {
  font-size: 1.12em;
}
.banner-bottom p span {
  font-size: 15px;
}
.banner-bottom {
  margin-top: 23%;
}
.callbacks_tabs a:after {
  height: 10px;
  width: 10px;
}
.callbacks_nav {
  height: 33px;
  width: 13px;
}
.callbacks_tabs {
  left: 38%;
  top: 148%;
}
.callbacks_nav {
  top: 168%;
}
.banner {
  min-height: 280px;
}
.about-left:nth-child(1){
	 margin-top: 0px;
}
.about-left {
  width: 100%;
  float: left;
  margin-top: 17px;
  text-align: center;
}
#portfoliolist .portfolio {
  width: 47%;
  margin: 0 1.5% 3% 1.5%;
}
.work-top {
  margin-top: 23%;
}
.work {
  min-height: 702px;
}
.b-animate {
  top: 35%;
}
div#portfoliolist {
  padding: 3% 0px 5px 0;
}
.about-main h3, .work-top h3, .why-top h3, .team-top h3,
 .skills-top h3, .touch-main h3 {
  font-size: 1.1em;
}
.why-right h4 {
  font-size: 13px;
  overflow: hidden;
  height: 14px;
}
.why-right span {
  font-size: 12px;
}
.why-left,.why-right{
  width: 100%;
  float: none;
  text-align: center;
}
.why-right{
	margin-top:12px;
}
.why-left img {
  width: 19%;
  margin-top: 0;
}
.why-one {
  margin-top: 11px;
}
.temp-left {
  margin-top: 19%;
  width: 100%;
  float: none;
  text-align: center;
}
.temp-left h3 {
  font-size: 1.05em;
}
.temp-left p {
  font-size: 14px;
}
.temp-btn {
  margin-top: 2.5%;
}
.temp-right {
  width: 100%;
  float: none;
  margin-top: 20px;
}
.temp-right img {
  width: 30%;
}
.temp {
  min-height: 365px;
}
.temp-top {
  margin-top: 21%;
}
.abt-us-left span {
  width: 35px;
  height: 47px;
}
.abt-us-left span.two {
  background-position: -35px 0px;
}
.abt-us-left {
  text-align: center;
}
.abt-us-one {
  margin-left: 0%;
  margin: 13% 0 0 0;
  display: block;
}
.team-top p {
  width: 86%;
  margin: 3px auto 0;
  overflow: hidden;
  height: 37px;
  line-height: 1.5em;
}
.team-left {
  width: 50%;
}
.team-left:nth-child(4) {
  display:none;
}
.video {
  min-height: 150px;
}
.video-main {
  padding-top: 25%;
}
.skills-bottom {
  margin-top: 5%;
}
.skl-one {
  width: 80%;
  margin: 6% auto 0;
}
.poll:nth-child(2) {
  margin-top: 13px;
}
.poll {
  margin-top: 11px;
}
.skills {
  padding: 2em 0px;
}
.clients-top ul li:nth-child(3){
	display:none;
}
.clients-top ul li{
	width:45%;
	float:left;
}
.abt-us {
  padding: 1em 0px 17px 0px;
}
.clients {
  min-height: 75px;
}
.text-right p {
  height: 35px;
}
.text-bottom h4 {
  font-size: 14px;
}
.text-bottom p {
  font-size: 11px;
  margin-top: 1px;
}
.testemonials {
  min-height: 145px;
}
ul.callbacks_tabs.callbacks2_tabs {
  top: 100%;
}
.touch-main h3:before {
  width: 13%;
  left: 9%;
}
.touch-main h3:after {
  width: 13%;
  left: 79%;
  top: 9px;
}
.testemonials-main {
  width: 53%;
}
.touch-main p {
  font-size: 13px;
  height: 40px;
}
.touch-bottom {
  margin-top: 4.5%;
}
.touch-left {
  width: 90%;
}
.sub-button {
  margin-top: 0px;
}
.footer-main a h3 {
  font-size: 16px;
}
.footer-main ul li {
  margin: 0 3px;
}
.footer-main ul li span {
  width: 28px;
  height: 28px;
  background-size: 600%;
}
.footer-main ul li span.twit {
  background-position: -28px 0px;
}
.footer-main ul li span.drbl {
  background-position: -56px 0px;
}
.footer-main ul li span.be {
  background-position: -84px 0px;
}
.footer-main ul li span.in {
  background-position: -112px 0px;
}
.footer-main ul li span.p {
  background-position: -140px 0px;
}
.footer-main {
  margin-top: 17%;
}
.footer {
  min-height: 160px;
}
.footer-main p {
  font-size: 13px;
}
.touch {
  padding: 1.5em 0 1em 0px;
}
.dwn-arw2, .dwn-arw, .dwn-arw1, .dwn-arw3, .dwn-arw4 {
  left: 33.7%;
}
.dwn-arw4 {
  top: 94.5%;
}
.about {
  padding: 1em 0px 1em 0px;
}
.dwn-arw1 {
  top: 101.5%;
}
.why {
  padding: 2em 0px;
}
.dwn-arw3 {
  top: 98.1%;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 53%;
  top: 12px;
  width: 28.6%;
  text-align: center;
  z-index: 999;
}
.cbp-spmenu-vertical a {
  padding: 8px 15px;
}
.cbp-spmenu a {
  display: block;
}
.team-left h4 {
  font-size: 12px;
  margin: 1em 0 0 0;
}
.dwn-arw2 {
  top: 96.9%;
}
.dwn-arw4 {
  top: 93.4%;
}
}
/*--media-quaries-ends--*/